<br><hr>
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <div class="row">
              <div class="col-md-6 img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"  alt="" class="img-rounded">
              </div>
              <div class="col-md-6 details">
                <blockquote>
                  <h5></h5>
                  <small><cite title="Source Title">Curriculum Vitae <i class="icon-map-marker"></i></cite></small>
                </blockquote>                          
                 <p ><b>{{ clientes[0].nombre}}</b><br>
                  <b>{{ clientes[0].apellido}}</b><br>
                  <b>{{ clientes[0].email}}</b><br>
                 </p><hr>
                 <button type="button" name="editar" [routerLink]="['/clientes/form', clientes[0].id]" class="btn btn-primary btn-sm">editar</button>
            </div>    
      </div>
      <hr>
      <!--- \\\\\\\Post-->
      <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex  align-items-center">
                <div class="d-flex  align-items-center">                          
                    <div >
                        <div class="h5 m-0">EXPERIENCIAS LABORALES 
                          
                        <a href="#" class="btn btn-primary btn-sm" [routerLink]="['/clientes/formexp']">Agregar</a></div>
                        
                        <div class="h7 text-muted"> </div>
                    </div>
                </div>
                <div>

                </div>
            </div>

        </div>
        <div class="card-body">
          <table class="table">
            <tbody>

              <tr *ngFor=" let exp of experiencias">
               <td><a href="#">{{exp.empresa}}</a> </td>
               <td>{{exp.cargo}} </td>
               <td>{{exp.descripcion}} </td>               
               <td><button type="button" name="editar" [routerLink]="['/clientes/formexp', exp.id]" class="btn btn-primary btn-sm">Editar</button></td>
               <td> <button type="button" name="eliminar" (click)='delete(exp)' class="btn btn-danger btn-sm">Eliminar</button></td>
             </tr>
              
             </tbody>
          </table>
        </div>

    </div>
    <!-- Post /////-->


<br>
      <!--- \\\\\\\Post-->
  <div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex  align-items-center">
            <div class="d-flex  align-items-center">                          
                <div >
                    <div class="h5 m-0">HABILIDADES</div>
                    <div class="h7 text-muted"></div>
                </div>
            </div>
            <div>

            </div>
        </div>

    </div>
    <div class="card-body">
   <table class="table">
     <tbody>
       <tr>
         <th>Habilidad</th>
         <th>Nivel</th>
         <th colspan="2">Controlls</th>
         
       </tr>
       <tr>
        <td>JAVA </td>
        <td> 80%</td>
        <td><button type="button" name="editar" [routerLink]="['/clientes/formexp', experiencias[1].id]" class="btn btn-primary btn-sm">editar</button></td>
        <td> <button type="button" name="eliminar" (click)='delete(experiencias[1])' class="btn btn-danger btn-sm">eliminar</button></td>
      </tr>
       
      </tbody>
   </table>
    </div>

</div>
<!-- Post /////-->
      <div class="col-sm-2"></div>
      <br>
  </div>





 
<!--

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
        Crear Cliente
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>email</th>
          
          <th>
            editar
          </th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          
          <td>
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(cliente)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>-->
